[global]
default-profile='profile1'
profile-list=['profile0', 'profile1', 'profile2', 'profile4', 'profile3', 'profile5', 'profile6', 'profile7', 'profile8']

[profiles/default]
allow-bold=true
palette='#000000000000:#CCCC00000000:#4E4D9A9A0605:#C4C3A0A00000:#34346564A4A3:#7575504F7B7B:#060598979A9A:#D3D3D7D6CFCF:#555457565352:#EFEF29282928:#8A89E2E23434:#FCFBE9E84F4F:#72729F9ECFCF:#ADAC7F7EA8A8:#3434E2E2E2E2:#EEEDEEEDECEB'

[profiles/profile0]
allow-bold=true
background-color='#757550507B7B'
background-darkness=0.5
background-image=''
background-type='solid'
backspace-binding='ascii-del'
bold-color='#000000000000'
bold-color-same-as-fg=true
copy-selection=false
cursor-blink-mode='system'
cursor-shape='ibeam'
custom-command=''
default-show-menubar=true
default-size-columns=80
default-size-rows=24
delete-binding='escape-sequence'
exit-action='hold'
font='Inconsolata Bold 14'
foreground-color='#FFFFFFFFFFFF'
login-shell=false
palette='#24241F1F3131:#EFEF29282928:#4E4D9A9A0605:#C4C3A0A00000:#35358484E4E4:#ADAD7F7FA8A8:#060598979A9A:#DEDEDDDDDADA:#24241F1F3131:#FFFF63D663D6:#8A89E2E23434:#FCFBE9E84F4F:#6262A0A0EAEA:#EAA9AC16E3DC:#3434E2E2E2E2:#DEDEDDDDDADA'
scroll-background=true
scroll-on-keystroke=true
scroll-on-output=false
scrollback-lines=512
scrollback-unlimited=false
scrollbar-position='right'
silent-bell=false
title='Terminal'
title-mode='replace'
use-custom-command=false
use-custom-default-size=false
use-skey=true
use-system-font=false
use-theme-colors=false
use-urls=true
visible-name='Lila-2'
word-chars='-A-Za-z0-9,./?%&#:_=+@~'

[profiles/profile1]
allow-bold=true
background-color='#FFFFFFFFFFFF'
background-darkness=0.5
background-image=''
background-type='solid'
backspace-binding='ascii-del'
bold-color='#000000000000'
bold-color-same-as-fg=true
copy-selection=false
cursor-blink-mode='system'
cursor-shape='ibeam'
custom-command=''
default-show-menubar=true
default-size-columns=80
default-size-rows=24
delete-binding='escape-sequence'
exit-action='close'
font='Monospace 12'
foreground-color='#000000000000'
login-shell=false
palette='#2E2E34343636:#CCCC00000000:#4E4E9A9A0606:#C4C4A0A00000:#34346565A4A4:#757550507B7B:#060698209A9A:#D3D3D7D7CFCF:#555557575353:#EFEF29292929:#8A8AE2E23434:#F6F6D3D32D2D:#72729F9FCFCF:#ADAD7F7FA8A8:#3434E2E2E2E2:#EEEEEEEEECEC'
scroll-background=true
scroll-on-keystroke=true
scroll-on-output=false
scrollback-lines=512
scrollback-unlimited=false
scrollbar-position='right'
silent-bell=false
title='Terminal'
title-mode='replace'
use-custom-command=false
use-custom-default-size=false
use-skey=true
use-system-font=false
use-theme-colors=false
use-urls=true
visible-name='Vit-0'
word-chars='-A-Za-z0-9,./?%&#:_=+@~'

[profiles/profile2]
allow-bold=false
background-color='#FCFCE9E94F4F'
background-darkness=0.5
background-image=''
background-type='solid'
backspace-binding='ascii-del'
bold-color='#000000000000'
bold-color-same-as-fg=true
copy-selection=false
cursor-blink-mode='system'
cursor-shape='block'
custom-command=''
default-show-menubar=true
default-size-columns=80
default-size-rows=24
delete-binding='escape-sequence'
exit-action='hold'
font='Inconsolata Medium 14'
foreground-color='#000000000000'
login-shell=false
palette='#2E2E34343636:#CCCC00000000:#4E4E9A9A0606:#C4C4A0A00000:#34346565A4A4:#757550507B7B:#060698209A9A:#D3D3D7D7CFCF:#555557575353:#EFEF29292929:#8A8AE2E23434:#FCFCE9E94F4F:#72729F9FCFCF:#ADAD7F7FA8A8:#3434E2E2E2E2:#EEEEEEEEECEC'
scroll-background=true
scroll-on-keystroke=true
scroll-on-output=true
scrollback-lines=512
scrollback-unlimited=false
scrollbar-position='hidden'
silent-bell=false
title='Terminal'
title-mode='replace'
use-custom-command=false
use-custom-default-size=false
use-skey=true
use-system-font=false
use-theme-colors=false
use-urls=true
visible-name='Stay_open_GUL'
word-chars='-A-Za-z0-9,./?%&#:_=+@~'

[profiles/profile3]
allow-bold=true
background-color='#8F8F59580201'
background-darkness=0.5
background-image=''
background-type='solid'
backspace-binding='ascii-del'
bold-color='#000000000000'
bold-color-same-as-fg=true
copy-selection=false
cursor-blink-mode='system'
cursor-shape='block'
custom-command=''
default-show-menubar=true
default-size-columns=80
default-size-rows=24
delete-binding='escape-sequence'
exit-action='close'
font='Monospace Bold 12'
foreground-color='#FAE0EE598420'
login-shell=false
palette='#3D3D38384646:#FFFF00000000:#6EB7B17D01C6:#C4C4A0A00000:#44434443FFFF:#C0C06161CBCB:#0000ACACACAC:#F6F6F5F5F4F4:#3D3D38384646:#FFFF63D663D6:#0000D5540000:#D2C5D2C50000:#6262A0A0EAEA:#DCDC8A8ADDDD:#0000E58BE58B:#F6F6F5F5F4F4'
scroll-background=true
scroll-on-keystroke=true
scroll-on-output=false
scrollback-lines=512
scrollback-unlimited=false
scrollbar-position='right'
silent-bell=false
title='Terminal'
title-mode='replace'
use-custom-command=false
use-custom-default-size=false
use-skey=true
use-system-font=false
use-theme-colors=false
use-urls=true
visible-name='Brun-0'
word-chars='-A-Za-z0-9,./?%&#:_=+@~'

[profiles/profile4]
allow-bold=true
background-color='#FE4AF9D0E251'
background-darkness=0.5
background-image=''
background-type='solid'
backspace-binding='ascii-del'
bold-color='#636345452C2C'
bold-color-same-as-fg=false
copy-selection=false
cursor-blink-mode='system'
cursor-shape='block'
custom-command=''
default-show-menubar=true
default-size-columns=80
default-size-rows=24
delete-binding='escape-sequence'
exit-action='hold'
font='Monospace 12'
foreground-color='#000000000000'
login-shell=false
palette='#2E2E34343636:#CCCC00000000:#4E4E9A9A0606:#C4C4A0A00000:#34346565A4A4:#757550507B7B:#060698209A9A:#D3D3D7D7CFCF:#555557575353:#EFEF29292929:#8A8AE2E23434:#FCFCE9E94F4F:#72729F9FCFCF:#ADAD7F7FA8A8:#3434E2E2E2E2:#EEEEEEEEECEC'
scroll-background=true
scroll-on-keystroke=true
scroll-on-output=false
scrollback-lines=512
scrollback-unlimited=false
scrollbar-position='right'
silent-bell=false
title='Terminal'
title-mode='replace'
use-custom-command=false
use-custom-default-size=false
use-skey=true
use-system-font=true
use-theme-colors=false
use-urls=true
visible-name='ipython3'
word-chars='-A-Za-z0-9,./?%&#:_=+@~'

[profiles/profile5]
allow-bold=true
background-color='#FFFFFFFFDDDD'
background-darkness=0.5
background-image=''
background-type='solid'
backspace-binding='ascii-del'
bold-color='#000000000000'
bold-color-same-as-fg=true
copy-selection=false
cursor-blink-mode='system'
cursor-shape='block'
custom-command=''
default-show-menubar=true
default-size-columns=115
default-size-rows=40
delete-binding='escape-sequence'
exit-action='hold'
font='Monospace 12'
foreground-color='#000000000000'
login-shell=false
palette='#9A9A99999696:#CCCC00000000:#4E4E9A9A0606:#C4C4A0A00000:#257D7983E58B:#BE000E90DA73:#060698209A9A:#DEDEDDDDDADA:#000000000000:#EFEF29292929:#8A8AE2E23434:#F6F6D3D32D2D:#4E81A463FFFF:#FDE852C5FFFF:#3434E2E2E2E2:#DEDEDDDDDADA'
scroll-background=true
scroll-on-keystroke=true
scroll-on-output=false
scrollback-lines=512
scrollback-unlimited=false
scrollbar-position='left'
silent-bell=false
title='Terminal'
title-mode='replace'
use-custom-command=false
use-custom-default-size=true
use-skey=true
use-system-font=false
use-theme-colors=true
use-urls=true
visible-name='neof'
word-chars='-A-Za-z0-9,./?%&#:_=+@~'

[profiles/profile6]
allow-bold=true
background-color='#3D3D38384646'
background-darkness=0.5
background-image=''
background-type='solid'
backspace-binding='ascii-del'
bold-color='#000000000000'
bold-color-same-as-fg=true
copy-selection=false
cursor-blink-mode='system'
cursor-shape='ibeam'
custom-command=''
default-show-menubar=true
default-size-columns=80
default-size-rows=24
delete-binding='escape-sequence'
exit-action='hold'
font='Input Bold Condensed 13'
foreground-color='#F6F6F5F5F4F4'
login-shell=false
palette='#777776767B7B:#CDCD00000000:#0000CDCD0000:#CDCDCDCD0000:#658BB3CCFFFF:#FC9575DFFC95:#57E4FFFFFFFF:#E5E4E5E4E5E4:#9A9A99999696:#FFFF00000000:#0000FFFF0000:#FFFFFFFF0000:#46468282B4B3:#FFFF0000FFFF:#0000FFFFFFFF:#FFFFFFFFFFFF'
scroll-background=true
scroll-on-keystroke=true
scroll-on-output=false
scrollback-lines=512
scrollback-unlimited=false
scrollbar-position='right'
silent-bell=false
title='Terminal'
title-mode='replace'
use-custom-command=false
use-custom-default-size=false
use-skey=true
use-system-font=false
use-theme-colors=false
use-urls=true
visible-name='classic-black'
word-chars='-A-Za-z0-9,./?%&#:_=+@~'

[profiles/profile7]
allow-bold=true
background-color='#FDFDF6F6E3E3'
background-darkness=0.86897880539499039
background-image=''
background-type='solid'
backspace-binding='ascii-del'
bold-color='#000000000000'
bold-color-same-as-fg=true
copy-selection=false
cursor-blink-mode='system'
cursor-shape='ibeam'
custom-command=''
default-show-menubar=true
default-size-columns=80
default-size-rows=24
delete-binding='escape-sequence'
exit-action='close'
font='Monospace 12'
foreground-color='#000000000000'
login-shell=false
palette='#000000000000:#CCCC00000000:#4E4D9A9A0605:#C4C3A0A00000:#34346564A4A3:#7575504F7B7B:#060598979A9A:#C962C962C962:#5E5E5C5C6464:#EFEF29282928:#8A89E2E23434:#F5F5C2C21111:#72729F9ECFCF:#ADAC7F7EA8A8:#3434E2E2E2E2:#D0D0D0D0D0D0'
scroll-background=true
scroll-on-keystroke=true
scroll-on-output=false
scrollback-lines=512
scrollback-unlimited=false
scrollbar-position='right'
silent-bell=false
title='Terminal'
title-mode='replace'
use-custom-command=false
use-custom-default-size=false
use-skey=true
use-system-font=false
use-theme-colors=false
use-urls=true
visible-name='InVitro'
word-chars='-A-Za-z0-9,./?%&#:_=+@~'

[profiles/profile8]
allow-bold=false
background-color='#FFFFFFFFFFFF'
background-darkness=0.098265895953757232
background-image=''
background-type='transparent'
backspace-binding='ascii-del'
bold-color='#000000000000'
bold-color-same-as-fg=true
copy-selection=false
cursor-blink-mode='system'
cursor-shape='ibeam'
custom-command=''
default-show-menubar=false
default-size-columns=1
default-size-rows=1
delete-binding='escape-sequence'
exit-action='close'
font='Monospace 6'
foreground-color='#FFFFFFFFFFFF'
login-shell=false
palette='#2E2E34343636:#CCCC00000000:#4E4E9A9A0606:#C4C4A0A00000:#34346565A4A4:#757550507B7B:#060698209A9A:#D3D3D7D7CFCF:#555557575353:#EFEF29292929:#8A8AE2E23434:#F6F6D3D32D2D:#72729F9FCFCF:#ADAD7F7FA8A8:#3434E2E2E2E2:#EEEEEEEEECEC'
scroll-background=true
scroll-on-keystroke=true
scroll-on-output=false
scrollback-lines=512
scrollback-unlimited=false
scrollbar-position='hidden'
silent-bell=true
title='Terminal'
title-mode='replace'
use-custom-command=false
use-custom-default-size=true
use-skey=false
use-system-font=false
use-theme-colors=false
use-urls=false
visible-name='Heidi-hoo'
word-chars='-A-Za-z0-9,./?%&#:_=+@~'
